/*Globals Style*/
li,
h3 {
  list-style: none;
}

input,
button {
  outline: none;
}

/*Inline Style*/
.page {
  font-family: Lato, sans-serif;
  color: #333;
  background-color: #f8f8f8;
}

.header {
  display: block;
  width: 500px;
  margin: 0 auto;
  text-align: right;
}

.header__image {
  width: 100%;
}

.header__link-more-info {
  font-family: fantasy, cursive;
}

.todo-app {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.todo-app__title,
.todo-app__label[for="new-task"] {
  margin: 0;
  padding: 30px 0 10px;
  border-bottom: 2px solid #333;
  font-size: 15px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.todo-app__label[for="new-task"] {
  display: block;
  margin: 0 0 20px;
}

.list-item_edit-mode .todo-app__label {
  display: none;
}

.todo-app__list#completed-tasks .todo-app__label {
  color: #888;
  text-decoration: line-through;
}

.todo-app__form {
  display: flex;
}

.u-flex-grow {
  display: inline-block;
  flex-grow: 1;
  width: 56%;
}

.todo-app__input[type="text"] {
  height: 21px;
  margin: 0;
  padding: 0 9px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #888;
  background: #fff;
}

.todo-app__input[type="text"]:focus {
  color: #333;
}

.todo-app__input#new-task {
  width: 318px;
}

.todo-app__list-item .todo-app__input[type="text"] {
  display: none;
}

.list-item_edit-mode .todo-app__input[type="text"] {
  display:inline-block;
  width: 224px;
}

.todo-app__button {
  width: 60px;
  border: 0;
  font-family: Lato, sans-serif;
  font-size: 15px;
  color: #888;
  background: none;
  cursor: pointer;
}

.todo-app__button:hover {
  color: #3a3a3a;
}

.todo-app__list {
  margin: 0;
  padding: 0;
}

.todo-app__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}

.todo-app__list-item > * {
  vertical-align: middle;
}

.todo-app__list-item > .todo-app__input[type="checkbox"] {
  margin: 0 10px;
}

.todo-app__list-item > .todo-app__label {
  width: 226px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

.todo-app__list-item > .todo-app__input[type="text"] {
  width: 226px;
}

.todo-app__image-delete {
  height: 2em;
  transition: transform 200ms ease-in;
  transform: rotateZ(45deg);
}

.todo-app__image-delete:hover {
  transform: rotateZ(0);
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}